mixin chat(user)
  if user.left
    .mail__inbox
      img(src=user.img, class="inbox__photo" alt="photo")
      .mail__text= user.mail
        span.mail__time= user.time
        img.inbox__vector(src="img/after.svg", alt="")
  else
    .mail__outbox
      .mail__text= user.mail
        span.mail__time= user.time
        img.outbox__vector(src="img/after.svg", alt="")